.App {
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: green;
  padding: 40px;
  color: white;
  font-size: 30px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 40px;
 
}

.container {
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

.click-image {
  background-size: cover;
  background-position: 50%;
  height: 170px;
  width: 170px;
  margin: 8px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;

}

.instructions {
  min-height: 400px;
  padding: 180px 20px;
  padding-bottom: 140px;
  text-align: center;
  background-size: cover;
  background-position: 50%;  
  margin: 8px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.footer {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  background-color: green;
  padding: 40px;
  color: white;
  font-size: 30px;
  position: relative;
  overflow: auto
}


